.ui.button.buttons-action{
    color: white;
    background-color: #679fff;
}

.buttons{
    margin-left: 40px;
    margin-top: 10px;
    display: flex;
}

.ui.button-return{
    color: white;
    background-color: #679fff !important;
}
